<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <section class="hero is-small">
      <div class="hero-body">
        <a class="navbar-item title" routerLink="/"> APP Pokemon </a>
      </div>
    </section>
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="pokemons">Home</a>
      <app-search-bar class="navbar-item"></app-search-bar>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" routerLink="/login"> Log in </a>
        </div>
      </div>
    </div>
  </div>
</nav>
