<section class="hero">
  <div class="hero-body">
    <p class="title">Page de connexion</p>
    <p class="subtitle">
      <em>{{ message }}</em>
    </p>
  </div>
</section>
<form #loginForm="ngForm" class="box my-6 mx-6 py-6 px-6">
  <div class="field">
    <label class="label" for="name">Name</label>
    <div class="control has-icons-left">
      <input
        class="input"
        type="text"
        id="name"
        [(ngModel)]="name"
        name="name"
        required
      />
      <span class="icon is-small is-left">
        <i class="fa-solid fa-user"></i>
      </span>
    </div>
  </div>
  <div class="field">
    <label class="label" for="password">Password</label>
    <div class="control has-icons-left">
      <input
        class="input"
        type="password"
        id="password"
        [(ngModel)]="password"
        name="password"
        required
      />
      <span class="icon is-small is-left">
        <i class="fa-solid fa-lock"></i>
      </span>
    </div>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <button
        class="button is-link"
        type="submit"
        (click)="login()"
        *ngIf="!auth.isLoggedIn"
      >
        Se connecter
      </button>
    </div>
  </div>
</form>
