@if (pokemon) {
<form (ngSubmit)="onSubmit()" #pokemonForm="ngForm">
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="card-panel">
        <!-- Pokemon name -->
        <div class="form-group my-2">
          <label for="name" class="mr-2">Nom</label>
          <input
            type="text"
            class="form-control input is-small"
            id="name"
            required
            pattern="^[a-zA-Z0-9àéèç]{1,25}$"
            [(ngModel)]="pokemon.name"
            name="name"
            #name="ngModel"
          />
          <div
            [hidden]="name.valid || name.pristine"
            class="card-panel red accent-1"
          >
            Le nom du pokémon est requis (1-25).
          </div>
        </div>

        <!-- Pokemon picture -->
        @if (isAddForm) {
        <div class="form-group my-2">
          <label for="picture" class="mr-2">Image</label>
          <input
            type="url"
            class="form-control input is-small"
            id="picture"
            required
            [(ngModel)]="pokemon.picture"
            name="picture"
            placeholder="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/xxx.png"
            #picture="ngModel"
          />
          <div
            [hidden]="picture.valid || picture.pristine"
            class="card-panel red accent-1"
          >
            L'image du pokémon est requise.
          </div>
        </div>
        }

        <!-- Pokemon hp -->
        <div class="form-group my-2">
          <label for="hp" class="mr-2">Point de vie</label>
          <input
            type="number"
            class="form-control input is-small"
            id="hp"
            required
            pattern="^[0-9]{1,2}$"
            [(ngModel)]="pokemon.hp"
            name="hp"
            #hp="ngModel"
          />
          <div
            [hidden]="hp.valid || hp.pristine"
            class="card-panel red accent-1"
          >
            Les points de vie du pokémon sont compris entre 0 et 999.
          </div>
        </div>

        <!-- Pokemon cp -->
        <div class="form-group my-2">
          <label for="cp" class="mr-2">Dégâts</label>
          <input
            type="number"
            class="form-control input is-small"
            id="cp"
            required
            pattern="^[0-9]{1,2}$"
            [(ngModel)]="pokemon.cp"
            name="cp"
            #cp="ngModel"
          />
          <div
            [hidden]="cp.valid || cp.pristine"
            class="card-panel red accent-1"
          >
            Les dégâts du pokémon sont compris entre 0 et 99.
          </div>
        </div>

        <!-- Pokemon types -->
        <form class="form-group my-2">
          <label for="types" class="mb-2">Types</label>
          @for (type of types; track $index) {
          <label class="label checkbox is-normal">
            <input
              type="checkbox"
              class="is-small mr-2"
              id="{{ type }}"
              [value]="type"
              [checked]="hasType(type)"
              [disabled]="!isTypesValid(type)"
              (change)="selectType($event, type)"
            />
            <span [attr.for]="type">
              <div class="tag {{ type | pokemonTypeColor }} ml-2">
                {{ type }}
              </div>
            </span>
          </label>
          }
        </form>

        <!-- Submit button -->
        <div class="divider"></div>
        <div class="section center">
          <button
            type="submit"
            class="waves-effect waves-light btn"
            [disabled]="!pokemonForm.form.valid"
          >
            Valider
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
}
<!-- <h3 *ngIf="!pokemon" class="center">
    <app-loader></app-loader>
  </h3> -->
