<div class="row">
  @if (pokemon) {
  <div class="col s12 m8 offset-m2">
    <section class="hero">
      <div class="hero-body">
        <p class="title">Caractéristiques de {{ pokemon.name }}</p>
      </div>
    </section>
    <div class="box my-6 mx-6">
      <div class="media">
        <div class="media-left">
          <figure class="image is-128x128">
            <img [src]="pokemon.picture" />
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <table class="table is-striped is-fullwidth">
              <tbody>
                <tr class="pb-2">
                  <td>Nom</td>
                  <td>
                    <p>
                      <strong class="ml-3">{{ pokemon.name }}</strong>
                    </p>
                  </td>
                </tr>
                <tr class="pb-2">
                  <td>Points de vie</td>
                  <td>
                    <p class="ml-3">
                      <strong>{{ pokemon.hp }}</strong>
                      <progress
                        class="progress is-primary"
                        value="{{ pokemon.hp }}"
                        max="100"
                      >
                        {{ pokemon.hp }}
                      </progress>
                    </p>
                  </td>
                </tr>
                <tr class="pb-2">
                  <td>Dégâts</td>
                  <td>
                    <p class="ml-3">
                      <strong>{{ pokemon.cp }}</strong>
                      <progress
                        class="progress is-primary"
                        value="{{ pokemon.cp }}"
                        max="100"
                      >
                        {{ pokemon.cp }}
                      </progress>
                    </p>
                  </td>
                </tr>
                <tr class="pb-2">
                  <td>Types</td>
                  <td>
                    @for (type of pokemon.types; track $index) {
                    <span class="tag {{ type | pokemonTypeColor }} mr-2 ml-3">
                      {{ type }}
                    </span>
                    }
                  </td>
                </tr>
                <tr>
                  <td>Date de création</td>
                  <td>
                    <p class="ml-3">
                      <em>{{ pokemon.created | date : "dd/MM/yyyy" }}</em>
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="card my-6 mx-6">
      <div class="card-footer">
        <a (click)="goToPokemonList()" class="card-footer-item">Retour</a>
        <a (click)="goToEditPokemon(pokemon)" class="card-footer-item"
          >Éditer</a
        >
        <a (click)="deletePokemon(pokemon)" class="card-footer-item"
          >Supprimer</a
        >
      </div>
    </div>
  </div>
  }
</div>

<!-- @if (!pokemon) {
    <h4 class="center">
        <app-loader></app-loader>
    </h4>
} -->
